
@{
    ViewBag.Title = "Welcome";
}

@*<h2>Welcome</h2>*@
<div class="container">
    <form>
        <div class="row">
            <div class="col-xs-12">
                <ul class="nav nav-pills">
                    <li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                    <li class="disabled"><a href="http://google.com"><span class="glyphicon glyphicon-earphone"></span> Contact</a></li>
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-info-sign"></span> About
                        <span class="caret"></span>
                    </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Mission</a></li>
                            <li><a href="#">Vision</a></li>
                            <li><a href="#">Products</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>