@{
    ViewBag.Title = "Customers";
}

<h2>Customers</h2>

@*<script src="~/JS/angular-strap/dist/angular-strap.js"></script>
<script src="~/JS/angular-strap/dist/angular-strap.tpl.js"></script>*@

<div class="container">
    <div class="row">
        <div class="col-xs-12">

            <div ng-controller="CustomerController">
                <div class="modal" id="CustomerModal" tabindex="-1">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">New Customer</h4>
                            </div>
                            <div class="modal-body">
                                <form>
                                    @*<div class="form-group">
                                        <label for="inputCustomerID">Customer ID</label>
                                        <input class="form-control" placeholder="Company Name" type="text" ng-model="inputCustomerID" />
                                    </div>*@
                                    <input type="hidden" ng-model="hdnCustomerID" />
                                    <div class="form-group">
                                        <label for="inputCompanyName">Company Name</label>
                                        <input class="form-control" placeholder="Company Name" type="text" ng-model="inputCompanyName" />
                                    </div>
                                    <div class="form-group">
                                        <label for="inputContactName">Contact Name</label>
                                        <input class="form-control" placeholder="Contact Name" type="text" ng-model="inputContactName" />
                                    </div>
                                    <div class="form-group">
                                        <label for="inputTitle">Title</label>
                                        <input class="form-control" placeholder="Title" type="text" ng-model="inputTitle" />
                                    </div>
                                    <div class="form-group">
                                        <label for="inputAddress">Address</label>
                                        <input class="form-control" placeholder="Address" type="text" ng-model="inputAddress" />
                                    </div>
                                    <div class="form-group">
                                        <label for="inputCity">City</label>
                                        <input class="form-control" placeholder="City" type="text" ng-model="inputCity" />
                                    </div>
                                    <div class="form-group">
                                        <label for="inputRegion">Region</label>
                                        <input class="form-control" placeholder="Region" type="text" ng-model="inputRegion" />
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPostalCode">Postal Code</label>
                                        <input class="form-control" placeholder="Postal Code" type="text" ng-model="inputPostalCode" />
                                    </div>
                                    <div class="form-group">
                                        <label for="inputCountry">Country</label>
                                        @*<input class="form-control" placeholder="Country" type="text" ng-model="inputCountry" />*@
                                        @*<div class="dropdown">
                                            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                                Country<span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">India</a></li>
                                                <li><a href="#">Pakistan</a></li>
                                                <li><a href="#">US</a></li>
                                                <li><a href="#">Japan</a></li>

                                            </ul>
                                        </div>*@
                                        <select ng-model="inputCountry" class="btn btn-info dropdown-toggle">
                                            <option value="">--select--</option>
                                            <option>India</option>
                                            <option>Pakistan</option>
                                            <option>US</option>
                                            <option>Japan</option>
                                        </select>

                                    </div>
                                    <div class="form-group">
                                        <label for="inputPhone">Phone</label>
                                        <input class="form-control" placeholder="Phone" type="text" ng-model="inputPhone" />
                                    </div>
                                    <div class="form-group">
                                        <label for="inputFAX">FAX</label>
                                        <input class="form-control" placeholder="FAX" type="text" ng-model="inputFAX" />
                                    </div>
                                    <div class="form-group">
                                        <label for="inputDOB">DOB</label>
                                        <input class="form-control" placeholder="MM/DD/YYYY" type="text" date-type="string"
                                               data-date-format="MM/dd/yyyy" ng-model="inputDOB" bs-datepicker />{{ date | date: 'yyyy-MM-dd' }}
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" ng-click="UpdateCustomer()" ng-show="update">Update</button>                                
                                <button class="btn btn-primary" ng-click="SaveCustomerList()" ng-show="save">Save</button>                                
                                <button class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="text" ng-model="search" />
                <input type="checkbox" ng-model="reverse" />
                <button id="addNewCustomer" data-toggle="modal" data-target="#CustomerModal" data-backdrop="static" data-keyboard="false" ng-click="AddNew()" class="btn btn-default">+ Add New Customer</button>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>

                            <th>Company Name</th>
                            <th>Contact Name</th>
                            <th>Title</th>
                            <th>Address</th>
                            <th>City</th>
                            <th>Action</th>
                        </tr>
                        @*<tr ng-repeat="cust in Customers">*@
                        <tr dir-paginate="cust in Customers |orderBy:sortKey:reverse|filter:search|itemsPerPage:5">
                            @*<tr dir-paginate="cust in Customers |itemsPerPage:5">*@
                            <td>{{cust.CompanyName}}</td>
                            <td>{{cust.ContactName}}</td>
                            <td>{{cust.ContactTitle}}</td>
                            <td>{{cust.Address}}</td>
                            <td>{{cust.City}}</td>
                            <td> <img id="{{cust.CustomerID}}" ng-click="FindCustomer($event)" src="~/Content/images/edit.png" />
                                <img id="{{cust.CustomerID}}" ng-click="DeleteCustomer($event)" src="~/Content/images/cross.png" />
                            </td>
                        </tr>
                    </table>
                    <dir-pagination-controls max-size="5"
                                             direction-links="true"
                                             boundary-links="true">
                    </dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/customers.js"></script>
    <script src="~/Scripts/dirpaginate.js"></script>
}